<p>We made the following assumptions:</p>

<ul>
  <li><strong><%= @spreadsheet[1,1] %></strong> is equal to forename;</li>
  <li><strong><%= @spreadsheet[1,2] %></strong> is equal to surname;</li>
  <li><strong><%= @spreadsheet[1,3] %></strong> is equal to e-mail address;</li>
  <li><strong><%= @spreadsheet[1,4] %></strong> is equal to phone number.</li>
</ul>

<hr />

<p class="center"><%= link_to "View the import", contacts_path, class: "big-link" %></p>

<p><img src="http://i.giphy.com/i79P9wUfnmPyo.gif" alt="woop woop!" /></p>